#root {
  --header-font-color: #e7e7e7;
  --font-size: 16px;

  padding: 2rem;
  font-family: "Roboto";
  box-sizing: border-box;
  color: #000000;
}

.main-header {
  font-size: 90px;
  font-weight: 400;
  color: var(--header-font-color);
}
